---
import Link from "@components/ui/link.astro";
import CheckMark from "@components/icons/checkmark.astro";

const title = "Always know what you’ll pay";
const subtitle = "transparent pricing for everyone";

const plans = [
	{
		name: "Wannabe",
		description: "Good for those trying to get there, but are too far from it.",
		price: 2,
		features: ["Connect 1 websites", "2 bank accounts", "Track up to 15 credit cards", "Analytics support", "3 months data"],
		link: "/register",
		cta: "Get started",
	},
	{
		name: "Indie Hacker",
		description: "Perfect for those leaving 9-5 and working 24/7.",
		price: 29,
		features: [
			"Connect 80 websites",
			"5 bank accounts",
			"Track up to 50 credit cards",
			"Analytics support",
			"12 months data",
			"Cloud service 24/7",
			"Track in multiple users",
		],
		highlight: true,
		link: "/register",
		cta: "Get started",
	},
];
---

<section id="pricing">
	<div class="py-8 px-4 mx-auto max-w-screen-md lg:py-16 lg:px-6">
		<div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
			<h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">{title}</h2>
			<p class="mb-5 font-light text-gray-500 sm:text-xl dark:text-gray-400">
				{subtitle}
			</p>
		</div>
		<div class="space-y-8 lg:grid lg:grid-cols-2 sm:gap-6 xl:gap-10 lg:space-y-0">
			{
				plans.map((plan) => (
					<div class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
						<h3 class="mb-4 text-2xl font-semibold">{plan.name}</h3>
						<p class="font-light text-gray-500 sm:text-lg dark:text-gray-400">Best option for personal use & for your next project.</p>
						<div class="flex justify-center items-baseline my-8">
							<span class="mr-2 text-5xl font-extrabold">${plan.price}</span>
							<span class="text-gray-500 dark:text-gray-400">/month</span>
						</div>
						<ul role="list" class="mb-8 space-y-4 text-left">
							{plan.features.map((feature) => (
								<li class="flex items-center space-x-3">
									<CheckMark />
									<span>{feature}</span>
								</li>
							))}
						</ul>
						<Link href={plan.link}>{plan.cta}</Link>
					</div>
				))
			}
		</div>
	</div>
</section>
