---
import Link from "@components/ui/link.astro";
import CheckMark from "@components/icons/checkmark.astro";

const title = "Pricing";
const subtitle = "Choose the plan that works for you.";

const plans = [
	{
		name: "Pro",
		description: "For SMBs or solopreneurs with smaller and limited use cases.",
		price: 49,
		features: [
			"Connect 1 database",
			"Process data upto 1GB / month",
			"Regular search performance",
			"10 days of free trial",
			"Regular support: Email with 48 hours response time",
		],
		link: "https://buy.stripe.com/28o8wyfEg2oc8uI8wy",
		cta: "Get started",
	},
	{
		name: "Enterprise",
		description: "For larger businesses looking to grow and scale.",
		price: null,
		features: [
			"Connect upto 10 databases",
			"Process upto 100GB / month",
			"Optimized search performance for large traffic",
			"Priority support: Instant call and email",
			"Feature requests",
		],
		link: "https://calendly.com/sumit-turbine/30min",
		cta: "Book a Call",
	},
];
---

<section id="pricing">
	<div class="py-8 px-4 mx-auto max-w-screen-md lg:py-16 lg:px-6">
		<div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
			<h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">{title}</h2>
			<p class="mb-5 font-light text-gray-500 sm:text-xl dark:text-gray-400">
				{subtitle}
			</p>
		</div>
		<div class="space-y-8 lg:grid lg:grid-cols-2 sm:gap-6 xl:gap-10 lg:space-y-0">
			{
				plans.map((plan) => (
					<div class="flex flex-col justify-between p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
						<div>
							<h3 class="mb-4 text-2xl font-semibold">{plan.name}</h3>
							<p class="font-light text-gray-500 sm:text-lg dark:text-gray-400">{plan.description}</p>
							<div class="flex justify-center items-baseline my-8">
								{plan.price && (
									<>
										<span class="mr-2 text-5xl font-extrabold">${plan.price}</span>
										<span class="text-gray-500 dark:text-gray-400">/ month</span>
									</>
								)}
							</div>
						</div>
						<div>
							<ul role="list" class="mb-8 space-y-4 text-left">
								{plan.features.map((feature) => (
									<li class="flex items-center space-x-3">
										<CheckMark />
										<span>{feature}</span>
									</li>
								))}
							</ul>
							<Link href={plan.link} target="_blank">
								{plan.cta}
							</Link>
						</div>
					</div>
				))
			}
		</div>
	</div>
</section>
